{% extends 'layout.html' %}

{% block body %}

<br>
<h2> Deslocações </h2>
<div class="row">
  <dir class="column-md-7">
    <table border=1 class="table table-striped table-bordered bg-white table-sm">
      <head>
        <tr>
            <td><h5>Id</h5></td>
            <td><h5>Data</h5></td>
            <td><h5>Dispositivo</h5></td>
            <td><h5>Responsavel</h5></td>
            <td><h5>Loc Original</h5></td>
            <td><h5>Loc Destino</h5></td>
        </tr>
      </head>

      <body>
        {% if Dados %}
          {% for x in Dados %}
            <tr>
              <td> {{x[0]}} </td>
              <td> {{x[1]}} </td>
              <td> {{x[2]}} - ({{x.6}}) </td>
              <td> {{x[3]}} </td>
              <td> {{x[4]}} </td>
              <td> {{x[5]}} </td>
            </tr>
          {% endfor %}
        {% endif %}
      </body>
    </table>
  </dir>
</div>


{% endblock %}