{% extends 'layout.html' %}

{% block body %}

<br>
<h2> Tipos de Recursos Humanos </h2>
<div class="row">
  <dir class="column-md-5">
    <dir class="card card-body">
      <form method="POST" action="/add_tipo_recurso_humano">
        <div class="form-group">
            Descrição <input type="text" required patern="\S.*" name="desc" class="form-control">
        </div>

        <div class="form-group">
          <input type="submit" name="ok" value="Validar" class="btn btn-outline-primary btn-block">
        </div>
      </form>
    </dir>
    <br>
  </dir>


  <dir class="column-md-7">
    <table border=1 class="table table-striped table-bordered bg-white table-sm">
        <head>
        <tr>
            <td><h5>Id</h5></td>
            <td><h5>Descrição</h5></td>
            <td><h5>Opções</h5></td>
        </tr>
    </head>

    <body>
        {% if Dados %}
            {% for x in Dados %}
            <tr>
                <td> {{x[0]}} </td>
                <td> {{x[1]}} </td>
                <td>
                    <a href="/edit_tipo_recurso_humano/{{x.0}}" class="btn btn-outline-warning btn-sm">Editar</a>
                    <a href="/delete_tipo_recurso_humano/{{x.0}}" class="btn btn-outline-danger btn-sm">Remover</a>
                </td>
            </tr>
            {% endfor %}
        {% endif %}

    </body>
    </table>
  </dir>
</div>

{% endblock %}